.input-group{
    @media(max-width:991px){
        margin-bottom:10px;
    }
    &.with-icon{
        i{
            position:absolute;
            top:50%;
            right: 15px;
            transform: translate(0, -50%);
            font-size: 28px;
            color: #b1b1b1;
        }
        input{
            padding-right:60px !important;
        }
    }
    &.material{
        position:relative;
        input,textarea{
            width:100%;
            padding: 12px 16px 14px;
            transition: opacity .15s cubic-bezier(.4,0,.2,1);
            height:48px;
            border-radius:6px;
            border:1px solid rgba(0,0,0,.24);
            background:transparent;
            position: relative;
        }
        textarea{
            height: 120px;
        }
    }
}
label{
    font-family: $font-semibold;
    font-size:16px;
}