body{
    font-family: $font-regular;
    background:$secondary-color;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    #main{
        flex: 1;
    }
}

.sqaured-section{
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    .section-heading{
        h2{
            font-size:24px;
            line-height: 28px;
            letter-spacing: 1px;
            margin-bottom:30px;
            padding-bottom:20px;
            color:#6A6868;
            border-bottom:1px solid rgba(0,0,0,.24);
            text-transform: uppercase;
        }
    }
    .section-body{

    }
}

.datepicker{
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    td,th{
        padding: 8px;
        &.disabled{
            opacity: 0.4;
            cursor: no-drop !important;
        }
    }
    .day,.month,.year{
        &.active{
            background: #40AEA4 !important;
        }
    }
}
