// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-regular: "Regular","Arial",sans-serif;
$font-light: "Light","Arial",sans-serif;
$font-semibold: "SemiBold","Arial",sans-serif;
$font-bold: "Bold","Arial",sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #9f5d66;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;

$main-color:#1a1a1a;
$secondary-color:#67DFD4;
$secondary-color-darker:#40AEA4;
$background-color:#f1f8ff;
$border-color:#c8e1ff;

$theme-colors: (
        primary: #761825
);